# IDE
.vscode/*
.vagrant/*
vagrant.*
Vagrantfile

# npm
node_modules/

# Typings
typings/*
!typings/created/

# File types
*.DS_Store
*.log
*.tgz
.#*

# Build artifacts
dist/
spec/*.js

# Doc artifacts
docs/