<footer>
    <div>
        <div class="container">
            <h2>Legend</h2>
            <div class="tsd-legend-group">
                {{#each legend}}
                <ul class="tsd-legend">
                    {{#each .}}
                    <li class="{{#compact}}{{#each classes}} {{.}}{{/each}}{{/compact}}"><span
                            class="tsd-kind-icon">{{name}}</span>
                    </li>
                    {{/each}}
                </ul>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="container tsd-generator">
        <h2>Legal</h2>
        <ul class="tsd-legend">
            <li>
                <a href="https://opensource.facebook.com/legal/privacy/" target="_blank" rel="noreferrer noopener">
                    Privacy
                </a>
            </li>
            <li>
                <a href="https://opensource.facebook.com/legal/terms/" target="_blank" rel="noreferrer noopener">
                    Terms
                </a>
            </li>
        </ul>
    </div>
</footer>
