.Attribution {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    padding: 4px 2px;
}

.Attribution a,
.Attribution span {
    color: white;
    text-decoration: none;
    margin: 0 2px 4px;
}

.Attribution a:hover {
    color: rgb(53, 175, 109);
}
