.BearingIndicator {
    position: absolute;
    bottom: 28px;
    right: 10px;
    width: 28px;
    height: 28px;
    background: url(./pano-indicator.svg);
    background-size: contain;
    pointer-events: none;
    opacity: 0.5;
    z-index: 10;
}
