.BearingIndicator {
    bottom: 28px;
    height: 66px;
    pointer-events: none;
    position: absolute;
    right: 11px;
    width: 56px;
    z-index: 10;
}

.BearingIndicatorBackground {
    opacity: 0.5;
    pointer-events: auto;
}

.BearingIndicatorBackgroundRectangle {
    background: #242528;
    height: 12px;
    left: 23px;
    position: absolute;
    top: 0;
    width: 10px;
}

.BearingIndicatorBackgroundCircle {
    background: #242528;
    border-radius: 50%;
    bottom: 0;
    height: 56px;
    position: absolute;
    width: 56px;
}

.BearingIndicatorNorth {
    background: white;
    height: 6px;
    left: 27px;
    position: absolute;
    top: 4px;
    width: 2px;
}
