.BearingIndicatorContainer {
    bottom: 34px;
    height: 42px;
    pointer-events: none;
    position: absolute;
    right: 8px;
    width: 42px;
    z-index: 10;
}

.BearingIndicatorBackground {
    pointer-events: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color:rgba(0, 0, 0, 0.5);
}

.BearingNorthContainer {
    position: absolute;
    left: 17px;
    top: -1px;
    width: 8px;
    height: 22px;
    transform-origin: 50% 100%;
}

.BearingNorth {
    position: absolute;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid white;
}
