.Cover {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 20;
    position: absolute;
    overflow: hidden;
}

.CoverBackground {
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    background-position: center;
    background-size: cover;
    bottom: 0;
    left: 0;
    margin-left: -3px;
    right: 0;
    top: 0;
    transform: translateZ(0);
    transition: transform 5s ease-out, background-image .2s ease-in-out;
    z-index: -10;
    position: absolute;
    margin-right: -3px;
}

.Cover:hover .CoverBackground {
    transform: scale(1.1);
}

.Cover.CoverLoading .CoverBackground{
    transform: scale(1);
    transition: transform .4s ease-out;
}

.CoverBackgroundGradient {
    background: linear-gradient(-180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    bottom: 0;
    height: 110px;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    transition: opacity .2s ease-in-out;
    z-index: 1;
}

.CoverLogo {
    background-size: cover;
    background: url(./cover-logo.svg);
    bottom: 30px;
    height: 32px;
    left: 30px;
    position: absolute;
    transition: opacity .2s ease-in-out;
    width: 128px;
    z-index: 300;
}

@media screen and (max-width: 560px) {
  .CoverLogo {
      display: none;
  }
}

.Cover.CoverDone > .CoverBackground {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}

.CoverDone {
    visibility: hidden;
    opacity: 0;
}

.CoverButton {
    background-color: transparent;
    border-radius: 999px;
    border: 1px solid white;
    bottom: 30px;
    color: white;
    font-size: 14px;
    font-weight: 300;
    height: 34px;
    left: 50%;
    letter-spacing: 1px;
    margin-left: -70px;
    padding: 5px 30px 7px;
    position: absolute;
    transition: all .2s ease-in-out;
    width: 140px;
}

.CoverButton:hover {
    background-color: white;
    color: #5D6671;
    cursor: pointer;
}

.CoverButton:focus {
    outline: 0;
}

.CoverButtonIcon {
    background-size: contain;
    background: url(./pano.svg);
    display: inline-block;
    height: 60px;
    width: 60px;
}

.Spinner {
  animation: rotate 3s linear infinite;
  background-image: url('./spinner.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 32px;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
  position: absolute;
  top: 50%;
  width: 32px;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.Cover.CoverLoading .CoverButton,
.Cover.CoverLoading .CoverLogo,
.Cover.CoverLoading .CoverBackgroundGradient {
    opacity: 0;
}
