.Debug {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30em;
    background-color: lime;
    font-size: 12px;
    padding: 1em;
    font-family: Input, Menlo, monospace;
    z-index: 50;
}

.DebugButton {
    background-color: lime;
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    cursor: pointer;
    z-index: 50;
}

.DebugButtonFixed {
    position: absolute;
    bottom: 2px;
    left: 2px;
}
