.Directions {
    display: block;
    position: absolute;
    width: 165px;
    height: 165px;
    bottom: -10px;
    left: 50%;
    margin-left: -82px;
    pointer-events: none;
}

.DirectionsWrapper {
    display: block;
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
}

.DirectionsArrow {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -27px;
    margin-top: -27px;
    width: 54px;
    height: 54px;
    background: url(./arrow-up.svg);
    background-size: contain;
    pointer-events: all;
}

.DirectionsArrow:hover {
    cursor: pointer;
    cursor: hand;
}


.TurnLeft,
.TurnRight {
    opacity: 0.8;
    position: absolute;
    height: 40px;
    width: 40px;
    bottom: 30px;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.8));
    cursor: pointer;
    cursor: hand;
}

.TurnLeft:hover,
.TurnRight:hover {
    opacity: 1;
}

.TurnLeft {
   left: 10px;
   background: url(./arrow-left.svg);
   background-size: contain;
}

.TurnRight {
    right: 10px;
    background: url(./arrow-left.svg);
    background-size: contain;
    transform: scaleX(-1);
}
