.Loading {
    width: 100%;
    height: 2px;
    z-index: 100;
    position: absolute;
    top: 0;
}

.LoadingBar {
    height: 4px;
    position: relative;
    background-color: rgba(53, 175, 109, 0.8);
    transition: opacity 100ms;
}
