.mapillary-js {
    background-color: #000;
    width: 320px;
    height: 240px;
    position: relative;
    user-select: none;
}

/*
.mapillary-js {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 75%;
}

.mapillary-js > canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
*/

.rectContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}


.Rect {
    position: absolute;
    outline: 2px solid lime;
}
