.mapillary-js {
    background-color: #0F0F0F;
    position: relative;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.mapillary-js-interactive {
     cursor: grab;
}

.mapillary-js-interactive:active {
     cursor: grabbing;
}

.mapillary-js .mapillary-js-dom {
    bottom: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;
}

.mapillary-js-dom .domRenderer {
    pointer-events: auto;
}

.mapillary-js div {
    box-sizing: content-box;
}

.mapillary-js input:focus {
    background: none;
}
