.mapillary-js {
    position: relative;
    overflow: hidden;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.domRenderer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    overflow: hidden;
}
