.MouseContainerGrab,
.MouseContainerGrabbing {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: -2;
}

.MouseContainerGrab {
    cursor: grab;
}

.MouseContainerGrabbing {
    cursor: grabbing;
}