.NavigationComponent {
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.Direction {
    position: absolute;
    width: 36px;
    height: 36px;
    display: block;
    background: url(./arrow-up-white.svg);
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: auto;
    cursor: pointer;
}

.DirectionForward {
    top: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    filter: drop-shadow(0 1px 0 rgba(0, 0, 0, 1));
}

.DirectionBackward {
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0) rotate(180deg);
    filter: drop-shadow(0 -1px 0 rgba(0, 0, 0, 1));
}

.DirectionLeft {
    left: 5px;
    top: 50%;
    transform: translate(0, -50%) rotate(-90deg);
    filter: drop-shadow(-1px 0 0 rgba(0, 0, 0, 1));
}

.DirectionRight {
    right: 5px;
    top: 50%;
    transform: translate(0, -50%) rotate(90deg);
    filter: drop-shadow(1px 0 0 rgba(0, 0, 0, 1));
}

.DirectionTurnleft {
    left: 5px;
    top: 5px;
    transform: rotate(-45deg);
    filter: drop-shadow(-1px 1px 0 rgba(0, 0, 0, 1));
}

.DirectionTurnright {
    right: 5px;
    top: 5px;
    transform: rotate(45deg);
    filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 1));
}

.DirectionTurnaround {
    left: 5px;
    bottom: 5px;
    transform: rotate(-135deg);
    filter: drop-shadow(-1px -1px 0 rgba(0, 0, 0, 1));
}
