.btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    height: auto;
    margin: 0;
    vertical-align: middle;
}

.NavigationUI {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
}

.Direction {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    position: absolute;
    margin: 0.1rem;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    background: url(./arrow-up-white.svg);
    background-size: contain;
    width: 1.3rem;
    height: 1.3rem;
    display: block;
}

.DirectionHidden {
    display: none;
}

.DirectionForward {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.DirectionBackward {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0) rotate(180deg);
}

.DirectionLeft {
    left: 0;
    top: 50%;
    transform: translate(0, -50%) rotate(-90deg);
}

.DirectionRight {
    right: 0;
    top: 50%;
    transform: translate(0, -50%) rotate(90deg);
}

.DirectionTurnleft {
    left: 0;
    top: 0;
    transform: rotate(-45deg);
}

.DirectionTurnright {
    right: 0;
    top: 0;
    transform: rotate(45deg);
}

.DirectionTurnaround {
    right: 0;
    bottom: 0;
    transform: rotate(135deg);
}