.InSeq {
    position: absolute;
    top: 0;
    height: 120px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%);
    width: 24px;
}

.NextInSeq:hover,
.PrevInSeq:hover {
    opacity: 1;
}

.NextInSeq,
.PrevInSeq {
    background: url(./next-prev.svg);
    background-size: contain;
    opacity: 0.8;
    width: 24px;
    height: 48px;
    cursor: pointer;
    cursor: hand;
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.8));
}

.NextInSeq {
    margin-top: 14px;
}

.PrevInSeq {
    transform: scaleY(-1);
}

.InSeqDisabled,
.InSeqDisabled:hover {
    background: url(./next-prev.svg);
    cursor: not-allowed;
    opacity: 0.5;
}

.PanoIndication {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 32px;
    height: 24px;
    background: url(./pano-icon.svg);
    background-size: contain;
    opacity: 0.8;
}
