.SliderWrapper {
    text-align: center;
    position: absolute;
    bottom: 40px;
    left: 0;
    pointer-events: none;
    right: 0;
    z-index: 20;
}

.SliderControl {
    max-width: 60%;
    padding: 4px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 0 auto;
    marginTop: 10px;
    cursor: pointer;
    color: inherit;
    background-color: rgba(255, 255, 255, 0.20);
    background-clip: 'content-box';
    border-radius: 999px;
    -webkit-appearance: none;
    appearance: none;
    pointer-events: auto;
}

.SliderControl::-webkit-slider-thumb {
    width: 22px;
    height: 22px;
    background: #474A4E;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
    border: 2px solid white;
    border-radius: 999px;
    -webkit-appearance: none;
}

.SliderControl::-moz-range-thumb {
    width: 22px;
    height: 22px;
    background: #474A4E;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
    border: 2px solid white;
    border-radius: 999px;
    appearance: none;
}

.SliderControl:focus {
    outline: none;
}
