.mapillary-viewer.component-tag-create .mapillary-interactive,
.mapillary-viewer.component-tag-edit-crosshair .mapillary-interactive {
    cursor: crosshair;
}

.mapillary-viewer.component-tag-edit-move .mapillary-interactive {
    cursor: move;
}

.mapillary-viewer.component-tag-edit-nesw-resize .mapillary-interactive {
    cursor: nesw-resize;
}

.mapillary-viewer.component-tag-edit-nwse-resize .mapillary-interactive {
    cursor: nwse-resize;
}

.mapillary-tag-container {
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
                "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
                "Cantarell", "Fira Sans", "Droid Sans",
                "Helvetica Neue", sans-serif;
}

.mapillary-tag-completer,
.mapillary-tag-interactor,
.mapillary-tag-mover,
.mapillary-tag-resizer,
.mapillary-tag-spot-interactor,
.mapillary-tag-symbol,
.mapillary-tag-vertex {
    position: absolute;
    left: 0;
    top: 0;
}

.mapillary-tag-symbol {
    cursor: pointer;
    pointer-events: auto;
}

.mapillary-tag-mover,
.mapillary-tag-resizer {
    pointer-events: auto;
}

.mapillary-tag-mover {
    border-radius: 7px;
    width: 14px;
    height: 14px;
    opacity: 0.2;
    cursor: move;
}

.mapillary-tag-mover:hover {
    opacity: 0.5;
}

.mapillary-tag-resizer {
    border-radius: 7px;
    width: 14px;
    height: 14px;
    opacity: 0;
    cursor: crosshair;
}

.mapillary-tag-resizer:hover {
    opacity: 0.3;
}

.mapillary-tag-vertex {
    pointer-events: none;
    border-radius: 3px;
    width: 6px;
    height: 6px;
}

.mapillary-tag-dot {
    pointer-events: none;
    border-radius: 1.5px;
    width: 3px;
    height: 3px;
    background-color: green;
}

.mapillary-tag-vertex.mapillary-tag-larger {
    border-radius: 4px;
    width: 8px;
    height: 8px;
}

.mapillary-tag-interactor,
.mapillary-tag-completer,
.mapillary-tag-spot-interactor {
    pointer-events: auto;
    border-radius: 7px;
    width: 14px;
    height: 14px;
    opacity: 0;
}

.mapillary-tag-completer.mapillary-tag-larger {
    border-radius: 8px;
    width: 16px;
    height: 16px;
}

.mapillary-tag-interactor,
.mapillary-tag-completer {
    cursor: pointer;
}

.mapillary-tag-spot-interactor {
    cursor: move;
}

.mapillary-tag-completer {
    background: limegreen;
}

.mapillary-tag-interactor {
    background: orangered;
}

.mapillary-tag-completer:hover,
.mapillary-tag-interactor:hover {
    opacity: 0.6;
}

.mapillary-tag-spot-interactor:hover {
    opacity: 0.3;
}
