.TagContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    cursor: crosshair;
}

.TagSymbol {
    cursor: pointer;
}

.TagMover,
.TagResizer {
    transform: translate(-50%, -50%);
    pointer-events: all;
}

.TagMover {
    border-radius: 7px;
    width: 14px;
    height: 14px;
    opacity: 0.2;
    cursor: move;
}

.TagMover:hover {
    opacity: 0.5;
}

.TagResizer {
    border-radius: 7px;
    width: 14px;
    height: 14px;
    opacity: 0;
    cursor: crosshair;
}

.TagResizer:hover {
    opacity: 0.3;
}

.TagVertex {
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 3px;
    width: 6px;
    height: 6px;
}

.TagInteractor,
.TagCompleter,
.TagSpotInteractor {
    transform: translate(-50%, -50%);
    pointer-events: all;
    border-radius: 7px;
    width: 14px;
    height: 14px;
    opacity: 0;
    cursor: move;
}

.TagCompleter {
    background: limegreen;
}

.TagInteractor {
    background: orangered;
}

.TagCompleter:hover,
.TagInteractor:hover {
    opacity: 0.6;
}

.TagSpotInteractor:hover {
    opacity: 0.3;
}
