.TagContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.TagRect {
    position: absolute;
}

.TagLabel {
    color: red;
    position: absolute;
    left: 100%;
    top: 100%;
}

.TagResizer {
    position: absolute;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.TagResizer:hover {
    background: #00FF00;
    opacity: 0.3;
}
