.TagContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
}

.TagLabel {
    position: absolute;
    color: red;
}

.TagMover,
.TagResizer {
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: all;
}

.TagMover {
    border-radius: 7px;
    width: 14px;
    height: 14px;
    background: #FFFF00;
    opacity: 0.2;
}

.TagMover:hover {
    opacity: 0.5;
}

.TagResizer {
    border-radius: 10px;
    width: 20px;
    height: 20px;
    background: #00FF00;
    opacity: 0;
}

.TagResizer:hover {
    opacity: 0.3;
}
