.mapillary-js.component-tag-create .mapillary-js-interactive,
.mapillary-js.component-tag-edit-crosshair .mapillary-js-interactive {
    cursor: crosshair;
}

.mapillary-js.component-tag-edit-move .mapillary-js-interactive {
    cursor: move;
}

.mapillary-js.component-tag-edit-nesw-resize .mapillary-js-interactive {
    cursor: nesw-resize;
}

.mapillary-js.component-tag-edit-nwse-resize .mapillary-js-interactive {
    cursor: nwse-resize;
}

.TagCompleter,
.TagInteractor,
.TagMover,
.TagResizer,
.TagSpotInteractor,
.TagSymbol,
.TagVertex {
    position: absolute;
    left: 0;
    top: 0;
}

.TagSymbol {
    cursor: pointer;
    pointer-events: auto;
}

.TagMover,
.TagResizer {
    pointer-events: auto;
}

.TagMover {
    border-radius: 7px;
    width: 14px;
    height: 14px;
    opacity: 0.2;
    cursor: move;
}

.TagMover:hover {
    opacity: 0.5;
}

.TagResizer {
    border-radius: 7px;
    width: 14px;
    height: 14px;
    opacity: 0;
    cursor: crosshair;
}

.TagResizer:hover {
    opacity: 0.3;
}

.TagVertex {
    pointer-events: none;
    border-radius: 3px;
    width: 6px;
    height: 6px;
}

.TagInteractor,
.TagCompleter,
.TagSpotInteractor {
    pointer-events: auto;
    border-radius: 7px;
    width: 14px;
    height: 14px;
    opacity: 0;
}

.TagInteractor,
.TagCompleter {
    cursor: pointer;
}

.TagSpotInteractor {
    cursor: move;
}

.TagCompleter {
    background: limegreen;
}

.TagInteractor {
    background: orangered;
}

.TagCompleter:hover,
.TagInteractor:hover {
    opacity: 0.6;
}

.TagSpotInteractor:hover {
    opacity: 0.3;
}
