name: Build

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'

    - name: Install dependencies
      run: yarn --frozen-lockfile

    - name: Build
      run: yarn prepare

    - name: Test
      run: yarn test

    - name: Build documentation
      run: yarn run build-docs
